@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

/*Styles for the main components of the website*/
#container {
	
}


#chart {
	float: left;
}

#sidebar {
	display: inline-block;
	position: absolute;
}

#shipList {
	width: 200px;
	height: 300px;
	overflow: scroll;
}

#infobox {
	width: 200px;
	height: 340px;
	margin-top: 20px;
	border: 2px solid black;
	border-radius: 4px;
	
}
#legend {
	margin-left: 25px;
	width:750px;
	border: 2px solid black;
	border-radius: 4px;
	text-indent: 10 px;
	display:inline-block;
}

#chart-buttons{
	clear: left;
	float: left;
	padding: 5px 10px 5px 10px;
}

footer {
	font-family: Tahoma, Geneva, sans-serif;
}


/* Styles for the accordion*/
/*
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
	padding: 0px 18px 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity:1;
	padding-bottom: 18px;
	max-height:500px;
}
*/

/*Styling for the sidebar*/

.shipTitle {
	padding: 0px 0px 0px 10px;
}

.statLabels {
	margin-top: 10px;
	margin-left: 10px;
	float:left;
	width:50%;
}


#shipName {
	width: 70px;
}

#search {
	width: 70px;
}



.statValues {
	margin-top: 10px;
	margin-left: 20px;
	text-align: right;
	display: inline-block;
}







/*reset and update buttons styling*/

.buttons {
	padding: 10px 0px;
	width: 70px;
	text-align:center;
	font-size: 16px;
	border-radius: 4px;
	color: white;
	
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}


.buttons:hover {
	color:black;
}

#resetBtn {
	border: 2px solid #C05B69;
	background-color: #C05B69;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#resetBtn:hover {
	background-color: white;
}


/*legend styling*/
.legendText {
	color: black;
	font-size: 16px;
}




/* These are the styles for the filterbox and the columns*/

#filterbox {
	margin-top: 18px;
	margin-left: 15px;
	width: 95%;
	border: 1px solid black;
	border-radius: 3px;
	clear:both;
}

.column-left {
	width: 33%;
	height: 380px;
	float: left;
	text-indent: 15px;
	
}

.column-left-footer {
	width: 33%;
	float: left;
	margin: auto;
	text-indent: 20px;
	
}

.column-center {
	width: 34%;
	height: 380px;
	display: inline-block;
	text-indent: 15px;
}

.column-center-footer {
	width: 34%;
	display: inline-block;
	margin: auto;
	padding-bottom: 10px;
	text-indent: 20px;
}

.column-right {
	width: 33%;
	height: 380px;
	float: right;
	text-indent: 15px;
}

.column-right-footer {
	margin: auto;
	width: 33%;
	float: right;
	text-indent: 20px;
}

input {
	margin-left: 20px;
}

h1, h2 {
	
	font-family: Tahoma, Geneva, sans-serif;
}

label {
	font-family: Tahoma, Geneva, sans-serif;
}

.checkboxes:hover{
	color: green;
}


/*
 . are for class
 # are for Id
 
 These are the styles for the svg and the lines.
http://colorbrewer2.org/?type=qualitative&scheme=Paired&n=8
*/

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  /*shape-rendering: crispEdges;*/
  stroke-width: 1;
}

.foreground path{
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.ddForeground path {
  fill: none;
  stroke: #8dd3c7;
  stroke-width: 2;
}

.clForeground path {
  fill: none;
  stroke: #bebada;
  stroke-width: 2;
}

.caForeground path {
  fill: none;
  stroke: #fb8072;
  stroke-width: 2;
}

.bbForeground path {
  fill: none;
  stroke: #80b1d3;
  stroke-width: 2;
}

.cvlForeground path {
  fill: none;
  stroke: #fdb462;
  stroke-width: 2;
}

.cvForeground path {
  fill: none;
  stroke: #b3de69;
  stroke-width: 2;
}

.ssForeground path {
  fill: none;
  stroke: #fccde5;
  stroke-width: 2;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}